# Jupyter Notebook Intro

In [2]:
print(type(7))
print(type(7.4))

<class 'int'>
<class 'float'>

In [65]:
complex(3,4)

(3+4j)

In [6]:
print(int(3.5))
print(float(3))
print(str(3.1))

3
3.0
3.1

In [9]:
string = 'they told me to do this, and I listened. I\'ll continue..'
string * 2

"they told me to do this, and I listened. I'll continue..they told me to do this, and I listened. I'll continue.."

In [10]:
string + ' append string'

"they told me to do this, and I listened. I'll continue.. append string"

In [20]:
lst = list(str(i) for i in range(6))

'-'.join(lst)

'0-1-2-3-4-5'

In [26]:
rep_string = 'Repeating string ' * 3 
rep_string.strip() #leading and trailing whitespace removed
rep_string.strip('g ') #string is immutable, therefore this will probably have to be assigned

'Repeating string Repeating string Repeating string '

In [32]:
string.capitalize()
string.replace(' ','*')
string.split(' ')

['they',
 'told',
 'me',
 'to',
 'do',
 'this,',
 'and',
 'I',
 'listened.',
 "I'll",
 'continue..']

In [ ]:
string. #then hit tab to see all available methods

In [33]:
lst.pop()

'5'

In [34]:
lst

['0', '1', '2', '3', '4']

In [35]:
lst.remove('4')

In [36]:
lst

['0', '1', '2', '3']

In [39]:
lst.reverse()
lst

['3', '2', '1', '0']

In [41]:
lst[1] = 'new'
lst

['3', 'new', '1', '0']

In [42]:
# Tuple casting
my_first_tuple = tuple([1, 2])
my_other_tuple = (1, 2)
my_third_tuple = 1, 2, 3
type(my_third_tuple)

tuple

In [43]:
states_caps = [('Georgia', 'Atlanta'), ('Colorado', 'Denver'), ('Indiana', 'Indianapolis')]

search_state = 'Indiana'
capital = 'State not found'
for state_cap in states_caps:
    if state_cap[0] == search_state:
        capital = state_cap[1]
        break
print(capital)

Indianapolis

In [44]:
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}
states_caps_dict[search_state]

'Indianapolis'

In [50]:
states_caps_dict.get('Washington', 'State not found')

'State not found'

In [51]:
my_set, my_other_set = {1, 2, 3}, {5, 6, 7}
my_set.union(my_other_set)

{1, 2, 3, 5, 6, 7}

In [55]:
my_set.add(8)
my_set

{1, 2, 3, 8}

In [57]:
my_set.update(my_other_set)
my_set

{1, 2, 3, 5, 6, 7, 8}

In [61]:
my_set.update(my_other_set)
my_set

{1, 2, 3, 5, 6, 7, 8}

In [66]:

x = input('Name please: ')
print("Hello, " + x)

Name please: Mek
Hello, Mek

In [67]:
x =5
]

5

### Markdown v. Code cell

Markdown is a text-to-HTML conversion tool for web writers. It involves very little "code" knowledge and will be utilized throught this course including your case study presentations, capstone ipynb files and README files.

#### To convert a code cell into markdown: esc. + 'm'


#### Code cell in Jupyter notebook allows one to code in python. To execute code in a cell, use shift + enter


** When you learn a new shortcut in JN, share with the group, you will want to practice these shortcuts for quicker and more enjoyable coding experience"

# Python Data Types

## Lists

Python Lists are a flexible container that holds other objects in an ordered arrangment.  **A list is a general purpose, ordered data structure that allows you to change the data it holds (mutable).**

In [68]:
#lists can contain many different types of data... example...
my_bag_has = ['lunch', 1.50, True, ["HitchHiker's Guide", 'Fluent Python', 'Tensorflow'], 42]
#Here we see a str, float, bool, list, and int all in one list called "my_bag_has"

#grab the "third" element in a list (remeber zero indexing)
print(my_bag_has[3])

["HitchHiker's Guide", 'Fluent Python', 'Tensorflow']

In [72]:
#this is a range object. 
range_lst = range(-5, 5)
type(range_lst)
# print(range_lst)
#range_lst

range(-5, 5)

In [70]:
#to access information stored in this range object, we can loop through and print what is being stored

for i in range_lst:
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [71]:
#printing with that list will cause some issues... I want to access every value at once...
#lets cast it to a list
new_lst = list(range_lst)
new_lst

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

## Loops, map and list comprehensions

Loop: a for loop is a nice and quick way to modify, filter or visualize information stored in a list

Map: this is a functional builtin which returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

List Comprehension: fast, pythonic way to rewrite a for loop. Takes some practice but is great when you get it

In [73]:
# return the absolute value of each element in the list a using
# 1) a for loop
# 2) a functional built-in, map
# 3) a list comprehension

# using for loop (try to avoid this when possible but important to learn the basic coding concepts)
initial_lst = range(-10,11)

abs_for_loop = []
for elem in initial_lst:
    #store the absolute value into list accumulator above 
    abs_for_loop.append(abs(elem))
    
    
abs_for_loop
#we now have the absolute value of every number in the original list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
# with functional builtins (map)
#Note the map function takes another function as a parameter and other iterable objects like a list
abs_map = map(abs,initial_lst)
list(abs_map)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
## using a list comprehension (very Pythonic and fast)
abs_lstcomp = [abs(elem) for elem in initial_lst]

abs_lstcomp

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Lets functionize

In [79]:
# define absolute value functions

lst = list(range(-5,6))
def abs_using_for(lst):
    """Returns a list containing the absolute values of all 
       elements in lst using a for loop.
    """
    abs_lst = []
    for i in lst:
        abs_lst.append(abs(i))
        
    return abs_lst
    

def abs_using_map(lst):
    """Returns a list containing the absolute values of all 
       elements in lst using map.
    """
    return list(map(abs,lst))

def abs_using_lstcomp(lst):
    """Returns a list containing the absolute values of all 
       elements in lst using a list comprehension.
    """
    return [abs(i) for i in lst]

print(abs_using_for(lst))
print(abs_using_map(lst))
print(abs_using_lstcomp(lst))

[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]

### So which version is best?
Code readability is very imporant in Python, and that's one reason why list comprehensions are "Pythonic."
Of course, speed matters too.  So which one is fastest?

In [80]:
# import the timeit module
import timeit
number_executions = 1000

In [81]:
# define a larger list so there is more to time
lst = range(-20000, 20001)

In [82]:
# use globals so lst is defined in the function call
time_for = timeit.timeit('abs_using_for(lst)', globals=globals(), number=number_executions) 
print("The for function takes {0:0.2f} seconds for {1} executions.".format(time_for, number_executions))

The for function takes 3.68 seconds for 1000 executions.

In [83]:
time_map = timeit.timeit('abs_using_map(lst)', globals=globals(), number=number_executions) 
print("The map function takes {0:0.2f} seconds for {1} executions.".format(time_map, number_executions))

The map function takes 1.39 seconds for 1000 executions.

In [84]:
time_lstcomp = timeit.timeit('abs_using_lstcomp(lst)', globals=globals(), number=number_executions) 
print("The list comp. takes {0:0.2f} seconds for {1} executions.".format(time_lstcomp, number_executions))

The list comp. takes 2.45 seconds for 1000 executions.

**Summary** Functional programming (map, filter, reduce) is often faster, but is not as readable nor as flexible as list comprehensions.  
Advice: aim to code in comprehensions (list, dictionary, set) and go functional if speed becomes an issue.  We'll get into Numpy later in the course and its vectorized way of doing computations is *the* fastest way to go.

## Filtering list comprehensions

In [85]:
## filter
a = ['', 'fee', '', '', '', 'fi', '', '', '', '', 'foo', '', '', '', '', '', 'fum']
b = [x for x in a if len(x) > 0]
#what will this list comprehension return? 
print(b)

['fee', 'fi', 'foo', 'fum']

### <font color='gray'>List Comprehension Question</font>
Write a list comprehension that squares an item in the list below only if it's an integer.

In [86]:
a_lst = [7, '4', 5, 'a', 0, 4]

[num**2 for num in a_lst if type(num) == int]

[49, 25, 0, 16]

<details><summary>
Click here for solutionâ€¦
</summary>
`a_sqrd = [elem**2 for elem in a_lst if type(elem) == int]`
</details>

## Nested list comprehensions
You can do them, but do you want to?

In [87]:
nest_lst = [[1,2,3], [4,5,6], [7,8]]
print("The nested list:")
print(nest_lst)
print()


# Flatten the list?
flat_lst = []
for lst in nest_lst:#iterate 3 times
    for item in lst: #iterate 3 times three times and two times
        flat_lst.append(item)
print(f"Flattened:{flat_lst}")

The nested list:
[[1, 2, 3], [4, 5, 6], [7, 8]]

Flattened:[1, 2, 3, 4, 5, 6, 7, 8]

In [88]:
# What if we use a list comprehension?    
flat_lst2 = [item for lst in nest_lst for item in lst]
print(f'Flattened with list comprenension {flat_lst2}')

print("\nDo both methods for flattening result in the same list?")
print(flat_lst == flat_lst2)

Flattened with list comprenension [1, 2, 3, 4, 5, 6, 7, 8]

Do both methods for flattening result in the same list?
True

## Having fun with Zip
Useful way to combine same length iterables.

In [89]:
a1 = [1,2,3]
a2 = ['a','b','c']
print("The lists, separately:")
print(a1)
print(a2)

print("\nZipped together:")
a1a2 = list(zip(a1,a2))
print(a1a2)

The lists, separately:
[1, 2, 3]
['a', 'b', 'c']

Zipped together:
[(1, 'a'), (2, 'b'), (3, 'c')]

In [90]:
print("\nHow it's often used:")
for v1, v2 in zip(a1, a2):
    print(f"a1: {v1}, a2: {v2}")

How it's often used:
a1: 1, a2: a
a1: 2, a2: b
a1: 3, a2: c

### Tuples

Tuples are a lightweight (meaning relatively small in memory) immutable brother/sister of the `list`. Tuples are immutable, ordered collections.  Similar to lists, tuples are declared by passing an iterable to the `tuple()` constructor, with or without the syntactic parenthesis (this works because Python automatically interprets comma separated things that aren't specifically specified otherwise as tuples).  **If you want an ordered, lightweight data structure to hold unchanging data, use tuples.**

In [91]:
#using tuple()
my_first_tuple = tuple((1, 2))
print(type(my_first_tuple))
my_first_tuple

<class 'tuple'>

(1, 2)

In [92]:
# using ( , )

my_second_tuple = (1, 2)
print(type(my_second_tuple))
my_second_tuple

<class 'tuple'>

(1, 2)

In [94]:
# using var = values plural

my_third_tuple = 1, 2, 3
print(type(my_third_tuple))
my_third_tuple

<class 'tuple'>

(1, 2, 3)

In [95]:
# internal functions or methods... not many

#return index of the value 
my_first_tuple.index(2)

1

In [96]:
# count method returns how many times a value occurs in tuple

new_tup = 3,4,2,4,5,6,6,2,1,4,6,5,1,5,6,6,6,6,7

new_tup.count(6)

7

### <font color='gray'>Tuple Questions</font>

1. Make a tuple called `my_tuple` with the values `1` and `"hello"` in it. 
    1. How do you access the `1` in `my_tuple`?
    2. How do you access the `"hello"` in `my_tuple`?
2. Can you change the `"hello"` entry in `my_tuple` to `"hello there"`? Why or why not?

In [97]:
my_tuple = 1, 'hello'
print(my_tuple)
print(my_tuple[0])
print(my_tuple[1])

(1, 'hello')
1
hello

<details><summary>
Click here for solution 1.A
</summary>
`my_tuple = (1, 'hello')`
`print(my_tuple[0])`
</details>

<details><summary>
Click here for solution 1.B
</summary>
`my_tuple = (1, 'hello')`
`print(my_tuple[1])`
</details>

In [ ]:
# No because of tuple's immutability

<details><summary>
Click here for solution 2
</summary>
You can't.  Tuple are immutable (you can't modify them after creation).
</details>

### Dictionaries

So far, the only collections that we have talked about are ordered.  These are great as containers if there is some intrinsic order to the data that we're storing. However, there are plenty of times when we don't care about order, either because it simply doesn't matter or because the data are associated with each other in a different way.  Dictionaries are useful because they link data (the value) to a key for fast look-up.  **When you want to link data or any object to some entity, use a dictionary.**

In [5]:
# can use dict(*kwargs) but it is more typical to see curly brackets populated
# dict(Georgia = 'Atlanta', Colorado= 'Denver', Indiana = 'Indianapolis')
states_caps_dict = {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}
states_caps_dict

{'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis'}

In [6]:
#Lets grab the capital of one state
states_caps_dict['Georgia']

'Atlanta'

In [7]:
# for a standard dictionary, asking for a key that hasn't been assigned previously
states_caps_dict['Washington']

KeyError: 'Washington'

In [8]:
# .get method allows a default value to be supplied
states_caps_dict.get('Washington', 'State not found')

'State not found'

In [9]:
# but we could have assigned it:
states_caps_dict['Washington'] = 'Olympia'
states_caps_dict

{'Georgia': 'Atlanta',
 'Colorado': 'Denver',
 'Indiana': 'Indianapolis',
 'Washington': 'Olympia'}

In [10]:
# default dictionaries allow a default value to be set
from collections import defaultdict
states_caps = defaultdict(lambda: 'State not found')
states_caps.update(states_caps_dict)
print(states_caps)
# states_caps['Georgia']
# states_caps['Oregon']

defaultdict(<function <lambda> at 0x7fbd704a0ef0>, {'Georgia': 'Atlanta', 'Colorado': 'Denver', 'Indiana': 'Indianapolis', 'Washington': 'Olympia'})

In [12]:
states_caps['Cali']

'State not found'

### <font color='gray'>Dictionary Questions</font>

1. Make a dictionary called `restaurant_types` that has the following associated `key-value` pairs: `('Red Lobster', 'Seafood')`, `('Burger King', 'Fast Food')`, `('Safeway', 'Groceries')`.

2. How do you find the resturant type for `'Burger King'`?
3. What if you don't know whether or not `'Outback Steakhouse'` is in the `resturant_types` dictionary - how would you go about trying to get it's resturant type and make sure that you won't get an error?

In [113]:
restaurant_types = {'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Groceries'}
restaurant_types

{'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Groceries'}

<details><summary>
Click here for solution 1
</summary>
```
restaurant_types = {'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Groceries'}
print(restaurant_types)
```
</details>

In [114]:
restaurant_types['Burger King']

'Fast Food'

<details><summary>
Click here for solution 2
</summary>
```
restaurant_types['Burger King']
```
</details>

In [115]:
restaurant_types.get('Outback Steakhouse', 'not found')

'not found'

<details><summary>
Click here for solution 3
</summary>
`restaurant_types.get('Outback Steakhouse', 'Restaurant not in dictionary.')`
</details>

## Sets

A set combines some of the features of both the `list` and the `dictionary`. A set is defined as an unordered, mutable collection of unique items. This means that a `set` is a data structure where you can store items, without caring about their order and knowing that there will be at most one of them in the structure.  Sets use a hash to link each item to membership or not.  **If you are going to check membership in a data structure, use a set.**

In [116]:
# how to initialize
my_set = set([1, 2, 3])
my_other_set = {1, 2, 3}
my_empty_set = {}  # uh, no.... dict
print(type(my_set))
print(type(my_other_set))
print(type(my_empty_set)) # see?

<class 'set'>
<class 'set'>
<class 'dict'>

In [117]:
empty_set_2 = set()
print(type(empty_set_2))

<class 'set'>

In [118]:
dir(empty_set_2)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [119]:
my_set = {1, 2, 3}
my_other_set = {5, 6, 7}
my_set.union(my_other_set)

{1, 2, 3, 5, 6, 7}

In [120]:
my_set.add(4)
my_set

{1, 2, 3, 4}

In [121]:
my_set.update(my_other_set)
my_set

{1, 2, 3, 4, 5, 6, 7}

In [122]:
my_set.remove(5)
my_set

{1, 2, 3, 4, 6, 7}

In [123]:
my_set.intersection(my_other_set)

{6, 7}

In [124]:
my_set.add(6)
my_set

{1, 2, 3, 4, 6, 7}

**Set Questions**

1. Make a set called `first_set` with the values 1-10 and another with the values 5-15 called `second_set`.
2. Add the value 11 to `first_set`.
3. Add the string `'hello'` to `second_set`.
4. Using one of the methods discussed above, find what elements `first_set` and `second_set` have in common.

In [125]:
first_set = set()
for i in range(1,11):
    first_set.add(i)
first_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

<details><summary>
Click here for answers
</summary>
    
```first_set = set(range(1,11))```
    
```second_set = set(range(5,16))```
</details>

In [126]:
first_set.add(11)
first_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

<details><summary>
Click here for answers
</summary>
    
```
first_set.add(11)
```
</details>

In [130]:
second_set = set(range(5,16))
second_set.add('hello')
second_set

{10, 11, 12, 13, 14, 15, 5, 6, 7, 8, 9, 'hello'}

<details><summary>
Click here for answers
</summary>
    
```
second_set.add('hello')
```
</details>

In [132]:
first_set.intersection(second_set)

{5, 6, 7, 8, 9, 10, 11}

<details><summary>
Click here for answers
</summary>
    
```
intersection = first_set.intersection(second_set)
```
</details>