In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

plt.style.use('ggplot')

In [ ]:
def roll_the_dice(n_simulations = 1000):
    '''Two unbiased, six sided, dice are thrown one time and the sum of the
    faces is observed (so if you rolled a 3 and a 1, the sum is 4). A
    simulation estimates probability that the total score is an even number
    or a number greater than 7.  This is an estimated probability, based on
    rolling the two dice n_simulations times.

    FOR FULL POINTS, THE FUNCTION MUST PERFORM A SIMULATION.

    Parameters
    ----------
    n_simulations: float
        Number of rolls of the dice

    Returns
    -------
    float
    '''
    pass

In [62]:
result = []

for _ in range(10):
    sum_ = np.random.randint(1,6) + np.random.randint(1,6)
    if sum_ % 2 == 0 or sum_ > 7:
        result.append(0)
    else:
        result.append(1)

sum(result)/len(result)

0.6

In [76]:
np.random.randint(1,6)

4

In [ ]:
[0 if sum_ % 2 == 0 or sum_ > 7 else 1 ]

In [60]:
sample_space = np.array([i+j for i in range(1,6+1) for j in range(1,6+1)])
# for n in range(10):
#     sum_ = np.random.choice(sample_space, 1)
#     print(sum_)
unique, counts = np.unique(sample_space, return_counts=True)
d = dict(zip(unique, counts))

va = []
for k, v in d.items():
    va.append(v)

36

In [87]:
import numpy as np
assessment_scores = np.array([
    [20,40],
    [40,60],
    [35,50],
    [50,50],
    [22, 26],
    [44, 38],
    [44, 52]
])

def return_percentage_greater_than_80(arr):
  '''
  Return the percentage of the rows in arr where the sum of the two values is greater than 80. 
  *You should use numpy to do this.* 

  Parameters
  ==========
  arr: 2 dimensional numpy array

  Returns
  ======
  percentage: float
  '''
  return sum(arr.sum(axis=1) > 80) / len(arr) * 100
return_percentage_greater_than_80(assessment_scores)

71.42857142857143

In [85]:
assessment_scores = np.array([
    [20,40],
    [40,60],
    [35,50],
    [50,50],
    [22, 26],
    [44, 38],
    [44, 52]
])

np.sum(assessment_scores, axis=1) > 80

array([False,  True,  True,  True, False,  True,  True])

In [23]:
return_percentage_greater_than_80(assessment_scores)

0.7142857142857143

In [ ]:
def only_positive(arr):
    '''Return a numpy array containing only the rows from arr where all
    the values in that row are positive.

    FOR FULL POINTS USE NUMPY METHODS AND NO LOOPS OR LIST COMPREHENSIONS.

    Parameters
    ----------
    arr: Numpy Array (2-dimensional)

    Returns
    -------
    NumPy Array (2-dimensional)

    Example
    =======
    arr = np.array([
        [1, -1, 2],
        [3, 4, 2],
        [-8, 4, -4]
        ])
    
    only_positive(arr) returns:
    np.array([[3, 4, 2]])
    '''
    pass

In [33]:
arr = np.array([
        [1, -1, 2],
        [3, 4, 2],
        [-8, 4, -4]
        ])
arr[np.all(arr>0, axis=1)]

array([[3, 4, 2]])

In [35]:
import pandas
df = pandas.read_csv("https://s3-us-west-2.amazonaws.com/learn-assets.galvanize.com/gSchool/ds-curriculum/sql-block/universities.csv")

def pandas_query(df):
    '''Returns a DataFrame containing the average size of each university
    type ordered by average size in ascending order.

    Function assumes the input DataFrame contains these columns:
        name, address, Website, Type, Size

    Parameters
    ----------
    df: Pandas DataFrame

    Returns
    -------
    Pandas DataFrame
    '''
    pass

In [36]:
ls

assessment_2.ipynb  universities.csv

In [37]:
universities = pd.read_csv('universities.csv')
universities.head()

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0

In [44]:
universities.groupby('name').mean().sort_values(by='Size', ascending=True)

                                                    Size
name
UPMC Presbyterian Shadyside Dietetic Internship      4.0
Ingalls Memorial Hospital Dietetic Internship        7.0
Lester E Cox Medical Center-School of Medical T...   7.0
Yeshiva Toras Chaim Talmudical Seminary              7.0
St. Basil College                                    9.0
...                                                  ...
Washington State University-Spokane                  NaN
Washington State University-Tri Cities               NaN
Washington State University-Vancouver                NaN
Western Seminary-Sacramento                          NaN
Western Seminary-San Jose                            NaN

[2830 rows x 1 columns]

In [45]:
import pandas as pd

def return_loans_by_id(df):
    '''
    Takes a df and returns a df with only the requested loans.

    Parameters
    ==========
    df: Pandas DataFrame

    Returns
    =======
    Pandas DataFrame
    '''
    pass

In [46]:
import pandas as pd

def return_loans(df):
    '''
    Takes a df and returns a df with only the requested loans.

    Parameters
    ==========
    df: Pandas DataFrame

    Returns
    =======
    Pandas DataFrame
    '''
    pass

In [47]:
n = 10
p = 0.6
k = 8
1 - stats.binom(n,p).cdf(k-1)

0.16728975359999998

In [50]:
a = 0
b = 4

stats.uniform(a, b).cdf(2) - stats.uniform(a, b).cdf(1) + stats.uniform(a, b).cdf(4) - stats.uniform(a, b).cdf(3.5)

0.375